*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151515;
}

.card{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transition-delay: .5s;

}

.card:hover{
    width: 600px;
    transition-delay:.5s;
    
}

.circle{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 2rem crimson);
}

.circle::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #191919;
    border: 8px solid var(--clr);
    /* filter: drop-shadow(0 0 10px var(--clr)
    drop-shadow(0 0 60px var(--clr))); */

    transition: .6s;
    transition-delay: .75s,1s;

    filter: drop-shadow(0 0 2rem crimson);
}


.card:hover .circle::before{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--clr);
}

.circle .logo{
    position: relative;
    width: 250px;
    transition: .5s;
    transition-delay: .5s;

}

.card:hover .logo{
    transform: scale(0);

}

.product_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(315deg);
    height: 300px;
    transition: .5s ease-in-out;
}

.card:hover .product_img{
    top: 25%;
    left: 82%;
    transition: 600px;
    transition: .5s ease-in-out;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);

}

.content{
    position: absolute;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 20px, 20px, 20px;
    transition: .5s;

}
.card:hover .content{
    opacity: 1;
    visibility: visible;
}


.card:hover{
    transition-delay: .75s;
    visibility: visible;
    left: 20px;
}

.content h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1em;
}

.content p{
    color: white;
    margin: 5px;
    /* margin-bottom: 5px; */
   
}

.content a{
    
    position: absolute;
    color: black;
    background-color: white;
    margin: 0px 5px;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline;
    text-decoration: none;
    font-weight: 600;
    border-style: inset solid;
}
.btn:hover{
    color: white;
    background-color: #5454e584;
}


